/* Style your own assignment! This is fun! */
html {
    background: lightsteelblue;
}

#header {  
    position: fixed;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    background: gold;
    top: 0px;
    left: 0px;
}

.content {
    padding-left: 30px;  
    padding-top: 10px;
}

table {    
    float: left;
    width: 100%;
    padding-bottom: 20px;
    padding-right: 20px;
}

p {
    float: left;   
}

img {
    float: left;   
}

td {
    text-align: left;
    font-style: inherit;    
}

#separator {
    height: 20px;
}