/* Style your own assignment! This is fun! */
html {
    background: lightsteelblue;
}

#header {  
    position: fixed;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    background: gold;
    top: 0px;
    left: 0px;
}

.content {
    padding: 100px;    
}

#topPortion {
    float: top;    
    width: 100%;   
}

table {    
    float: left;
    width: 50%;
    padding-bottom: 20px;
    padding-right: 20px;
}

img {
    float: right;
    width: 50%     
}

#bottomPortion {
    float: left;
    width: 100%;
}

td {
    text-align: center;
    font-style: inherit;
}

.treeNameRow {
    border: 2px solid black;    
    padding: 5px; 
    width: 240px;         
}

.tableSpacer {
    width: 30px;
}

.lineageSeparator {
    
}

.perished {
    font-style: italic;
}

#legends {
    font-family: 'Asap', sans-serif;
    float: left;
}

#tableLegend {
    font-style: italic;
}

#benediction{
    text-align: center;    
}

span {
    font-style: oblique;
}

a:link {
    color: blue;     
}

a:visited {
    color: purple;     
}

a:hover {
    color: steelblue;     
}
