/* Style your own assignment! This is fun! */
html {
    background: lightsteelblue;
}

#header {      
    margin: 0 auto;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    background: blue;
    padding: 20px;    
}

#authors {
    font-size: 20px;
}

.content {
    padding-left: 30px;  
    padding-top: 10px;
}

table {    
    float: left;
    width: 100%;
    padding-bottom: 20px;
    padding-right: 20px;
    position: relative;
    top: 100px;    
}

img {
    float: left; 
    padding-bottom: 100px; 
    width: 100%;
}

ul li {    
    font-size: 20px;
    padding: 10px;
}

ol li {
    padding-bottom: 10px;
    font-size: 20px;     
}


td {
    text-align: left;
    font-style: inherit;    
}

h1 {    
    text-align: center;
}

span {
    padding-left: 10px; 
    font-size: 16px;
}